* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 120px 2fr;

    background-image: url('./images/bg-pattern-desktop.svg'), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

    background-size: 60%;
    background-repeat: no-repeat;
}

.navbar {
    margin: 60px 0 0 150px;
    grid-column: 1/2;
    grid-row: 1/2;
}

.navbar img {
    width: 150px
}

.comming-soon {  
    margin: 80px 80px 0 150px; 
    
    grid-column: 1/2;
    grid-row: 2/4;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.comming-soon h1 {
    width: 50%;
    
    font-weight: 500;
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 15px;
    line-height: 1.2;
}

.comming-soon h1 span {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.comming-soon p {
    color: hsl(0, 36%, 70%);
    line-height: 1.8;
    width: 70%;
}

.hero-img {

    background-image: url('./images/hero-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 2/4;
    grid-row: 1/4;
}

.form-group {
    position: relative;
}

.form-group input {
    width: 70%;
    padding: 15px 25px;

    border-radius: 35px;
    border: 1px solid hsl(0, 36%, 70%);

    background: transparent;
    color: hsl(0, 36%, 70%);

    outline: unset;
}

.form-group button {
    width:  100px;
    padding: 12px;
    border-radius: 25px;

    position: absolute;
    top: 0px; right: 150px;

    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
}

@media (max-width: 775px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 100px 250px 2fr;
            
        background-size: 100%;
    }

    .navbar {
        margin: 40px;
        grid-column: 1;
        grid-row: 1/2;
    }

    .navbar img {
        width: 110px;
    }

    .hero-img {
        width: 100%;
        background-image: url('./images/hero-mobile.jpg');
        background-position: center;
        background-size: cover;

        grid-column: 1/2;
        grid-row: 2/3;
    }

    .comming-soon {
        margin: 50px 25px;

        text-align: center;
        align-items: center;

        grid-column: 1;
        grid-row: 3/4;
    }
    
        
    .comming-soon h1 {
        width: 100%;

        font-size: 30px;
    }

    .comming-soon p {
        width: 100%;
    }
        
    .form-group, .form-group input {
        width: 100%;
    }

    .form-group button {
        right: 0;
    }
}