* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    height: 100vh;
    
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100px 2fr;

    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;

    background-image: url('./images/bg-pattern-desktop.svg');
    /* background-position: top 0px left 0px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header {
    grid-column: 1/2;
    margin: 50px 0 0 150px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    grid-column: 1/2;
    margin: 0px 200px 0 150px;
}

.cover {
    grid-column: 2;
    grid-row: 1/3;

    background-image: url('./images/hero-desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover img {
    width: 100%;
}

main h1 {
    width: 50%;
    font-size: 65px;
    text-transform: uppercase;
    letter-spacing: 8px;   
    line-height: 1.1;
    font-weight: 400;
}

.purble-text {
    color: hsl(0, 36%, 70%);
}

main h1 span {
    display: block;
    font-weight: 300;
}

main p {
    line-height: 1.5;
    width: 80%;
}

.get-email {
    width: 80%;
    border-radius: 30px;
    border: 2px solid hsl(0, 6%, 24%, 10%);

    padding: 17px 25px;
    height: 50px;

    position: relative;
}

.get-email input {
    border: none;
    /* padding: 18px 0 18px 25px; */
    width: 80%;
    background: none;
}

.get-email button {
    position: absolute;
    top: -2px;
    right: -2px;

    width: 80px;
    height: 51px;
    background: linear-gradient(135deg,rgba(248, 191, 191, 1) 19%, rgba(238, 140, 140, 1) 100%);

    border-radius: 30px;
    border: none;
    
    box-shadow: 15px 15px 73px -14px rgba(0,0,0,0.45);

    z-index: 10000;

}

@media (max-width: 875px) {
    body {
        background-color: #fefaf9;
        background-image: unset;

        grid-template-columns: 120px 2fr;
    }

    header {
        margin: 0;
        padding: 35px 40px;;
        
        grid-column: 1 / 3;
        grid-row: 1;

        background-color: #fffdfe;
    }

    main {
        margin: 50px;
        padding: 50px 0;

        text-align: center;
        grid-column: 1 / 3;
        grid-row: 3;
        
        justify-content: space-around;
        gap: 2rem;

    }

    main h1 {
        text-align: center;
        width: 100%;
    }

    
    main p {
        text-align: center;
        width: 100%;
    }
    
    .cover {
        background-image: url('./images/hero-mobile.jpg');
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .get-email {
        width: 100%;
    }

}